<%- include('./inc/head') %> 
<h1 class="logo">잘나가 커피 메뉴</h1>
<ul class="lists">
<% for(let menu of menus) { %> 
	<li class="list">
		<div class="title"><%= menu.name %> </div>
		<div class="price"><%= numeral(menu.price).format('0,0') %> 원</div>
	</li>
<% } %> 
</ul>
<%- include('./inc/foot.ejs') %> 