<header class="header-wrapper">
	<h1 class="logo"><a href="./list.html">노드 게시판</a></h1>
	<nav class="navi-wrap">
		<a href="./write.html" class="navi">게시글 등록</a>
		<a href="./list.html" class="navi">게시글 리스트</a>
	</nav>
	<nav class="lang-wrap">
		<a href="./list.html" class="navi active">한국어</a>
		<span> | </span>
		<a href="./list.html" class="navi ">English</a>
	</nav>
</header>
<section class="title-wrapper">
	<div class="wrapper">
		<h2 class="title-wrap">게시글 신규 등록 입니다.</h2>
		<p class="desc-wrap">노드 게시판 게시글 등록페이지 입니다.</p>
		<div class="btn-wrap">
			<a href="./write.html" class="btn btn-primary">등록</a>
		</div>
	</div>
</section> 