<%- include('../inc/head.ejs')  %> 
<div class="wrapper">
  <%- include('../inc/navi.ejs')  %> 






  
  
  
  
  
  
  
  
  <%- include('../inc/footer.ejs')  %> 
</div>
<%- include('../inc/foot.ejs')  %> 