doctype html
html(lang='ko')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title About Me 
		link(rel='stylesheet' href='/0.BASE/00_all.min.css')
		link(rel='stylesheet' href='/0.BASE/01_bootstrap.min.css')
		link(rel='stylesheet' href='/0.BASE/02_base.css')
		// 기본화
		link(rel='stylesheet' href='/css/common.css')
		// 공통사항
		link(rel='stylesheet' href='/css/about.css')
		script(src='/0.BASE/04_jquery.min.js')
		script(src='/0.BASE/moment.min.js')
		script(src='/0.BASE/lodash.min.js')
		script(src='/0.BASE/05_util.js')
	body
		.wrapper
			nav
				ul.breadcrumb.text-center
					li.breadcrumb-item
						a(href='/about') About
					li.breadcrumb-item
						a(href='/pf') Pf
					li.breadcrumb-item
						a(href='/team') Team
			// 본문내용 시작
			section.about-wrapper.content-wrapper
				style.
					h2.title-bar {font-size: 1.5em; color: black; margin-bottom: .5em;}
				h2.title-bar About Me 
				.about-wrap
					.img-wp
						img.w100(src='/img/f1.jpg' alt='me')
					.content-wp
						| Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi facilis possimus, laboriosam maiores earum quos aperiam totam impedit vitae numquam minus optio doloribus nam sapiente vero praesentium dignissimos exercitationem maxime.
			// 본문내용 끝
			footer.footer-wrap.p-5.bg-dark.text-center.text-light
				.copyright copyright&copy;dabanbus. Allright reserved.
		script(src='/js/about .js')
