extends ../layout/sample-layout
block content
	section.about-wrapper.content-wrapper
		include ../inc/title-bar
		.about-wrap
			.img-wp
				img.w100(src='/img/f1.jpg' alt='me')
			.content-wp= content
block recent 
	div recent
