extends ../layout/sample-layout

//- include ../mixins/list

block content
	section.pf-wrapper.content-wrapper
		include ../inc/title-bar
		.pf-wrap
			each list in lists 
				include ../components/list
