extends ../layout/sample-layout

include ../mixins/list

block content
	section.team-wrapper.content-wrapper
		include ../inc/title-bar
		h3.sub-title= subTitle
		.team-wrap
			each list in lists 
				+list(list)
