extends ../layout/sample-layout
block content
	section.team-wrapper.content-wrapper
		include ../inc/title-bar.ejs
		h3.sub-title= subTitle
		.team-wrap
			each list in lists
			include ../components/list
