.view-wrapper .view-tbl {width: 100%; border: 1px solid #ddd;}
.view-wrapper .view-tbl td {padding: 1em; border-bottom: 1px solid #dfdfdf;}
.view-wrapper .view-tbl td.title {width: 160px; color: #777; font-size: .875em;}
.view-wrapper .view-tbl .content-tr td:last-child {line-height: 1.25;}

.view-wrapper .file-img {width: 120px;}